<div class="panel">
	<h3><i class="icon icon-tags"></i> {l s='Optimization results' mod='smushit'}</h3>
	<p>
		{$text_saving}
	</p>
	<p>
		&raquo; {l s='This module saving image size, increasing site speed and generating more money from your shop' mod='smushit'} 
		<br />
		&raquo; {l s='You can contribute with a donation if this free module is usefull for you.' mod='smushit'}
		<br />
		&raquo; {l s='Click on the link and support! Thank you!' mod='smushit'}
		<br />
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="SQV24V64AFXM8">
		<input type="image" src="https://www.paypalobjects.com/en_US/RU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">
		</form>
	</p>
</div>


